
  <form class="form-data" action="/answer" data-turbo="false">
    <label for="question" class="form-label">Ask you coach anything</label>
    <div class="row">
      <div class="col-auto pe-0"><input class="form-control mx-0" type="text" name="question" id="question"></div>
      <div class="col-auto ps-0"><input class="btn btn-primary mx-0" type="submit" value="Ask!"></div>
    </div>
  </form>
